<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/507df99975.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navigation.css" asp-append-version="true" />
    @RenderSection("styles", false)
    <link rel="stylesheet" href="~/css/styles.css">
    <title>@ViewBag.PageTitle - Westcoast Education</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <h1 class="logo"><span class="text-primary"><i class="fa-solid fa-car"></i>Westcoast</span>Education</h1>
            <ul>
                <li><a asp-action="Index" asp-controller="Home">Start</a></li>
                <li><a asp-action="Index" asp-asp-controller="Courses">Courses</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="alert-contailner">
            @await Html.PartialAsync("_WeeklyOffer")
        </section>
        @RenderBody()
    </main>
   

</body>
</html>
